<!DOCTYPE html>
<html lang="{{ .Lang }}">
{{ partial "head.html" . }}

<body>
{{partial "search.html" .}}
<div class="singlePage">
    <!-- Begin actual content -->
    {{partial "header.html" .}}
    <article>
        {{partial "toc.html" .}}
        {{partial "textprocessing.html" . }}
        {{if $.Site.Data.config.enableRecentNotes}}
          {{partial "recent.html" . }}
        {{end}}
    <h3> Welcome! </h3>
    <p> I'm <a href="/Anton-Robert">Anton Robert</a> and you are on my personal website. Click on the red link if you want to know more about me. If you are interested in the website, find more <a href="/about-Weaver">about Weaver</a>.  </p>
    </article>
    {{partial "footerIndex.html" .}}
</div>
</body>
</html>
